.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.actualInput {
    width: 45vw;
    height: 30px;
    border-radius: 10px;
}

.oneFormInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.search {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
  }

  .totalSearchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .dishName {
    color: rgb(44, 64, 74);
    font-size: 32px;
    padding: 20px;
  }

  .subTitle {
    font-size: 42px;
    padding: 0px;
    margin-top: 50px;
    text-shadow: 2px 2px 2px white;
  }

  .oneErrorSearch {
    padding: 10px;
    font-size: 14px;
    margin-top: 2px;
}