/* TODO Add site wide styles */

body {
    margin: 0px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

#root { height: 100vh; }

.button {
    background-color: hsl(0, 0%, 50%, .04);
    border: 1px solid black;
    border: 1px solid black;
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
    font-size: 16px;
}

.footer {
    /* margin-top: auto; */
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid grey;
    background-color: white;
    max-height: 42px;
    width: 100%;
    min-height: 40px;
}