/* TODO Add site wide styles */

body {
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

#root { min-height: 100vh; }

.button {
    background-color: hsl(0, 0%, 50%, .04);
    border: 1px solid black;
    border: 1px solid black;
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
    font-size: 16px;
}