

  .totalHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .jesus {
    height: 100%;
  }

  .filter {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 25%;
  }

  .title1 {
    color: rgb(44, 64, 74);
    font-size: 64px;
  }
