.primeDish {
display: flex;
flex-direction: row;
width: 100%;
height: 70%;
align-items: center;
justify-content: center;
}

.totalOneDish {
    height: 70%;
}

.primeInfoAndButtons {
height: 50%;
width: 40%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.primeInfo {
    display: flex;
    flex-direction: column;
}

.primeImage {
height: 75%;
width: 40%;
display: flex;
align-items: center;
justify-content: center;
margin: 10px;
margin-top: 20px;
}

.addReviewsAndTitle {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.additionalReviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* overflow-y:scroll */
}

.secondaryDish {
    display: flex;
    flex-direction: column;
    margin: 8px;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 25%;
}

.secondDishImg {

    height: 85%;
    width: 85%;
    max-width: 300px;
    max-height: 300px;

}

.addReview {
    border-top: solid 1px rgb(143, 142, 142, .5);
    text-align: center;
    margin: 40px;
    padding-top: 20px;
}

.secondDishDiv {
    display: flex;
    justify-content: center;
}

.secondReviewText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editAndDeleteSecond {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
